<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>慕司的个人博客</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="{{static_url('css/bootstrap.min.css')}}"/>
	<link rel="stylesheet" type="text/css" href="{{static_url('css/font-awesome.min.css')}}">
	<script src="{{static_url('js/jquery.js')}}"></script>
	<script src="{{static_url('js/bootstrap.min.js')}}"></script>
	<link rel="stylesheet" href="{{static_url('css/style.css')}}">
	<script src="{{static_url('js/d3.min.js')}}"></script>
	<script src="{{static_url('js/d3.layout.cloud.js')}}"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
	<style type="text/css">
		.tags{
			height: 100px;
		}
	</style>
</head>
<body>
<script>
	var _id = {{ id }};
	var _isFirst = {{ isFirst }}
	var _isLast = {{ isLast }};
</script>

	<div class="nav" id="nav">
		<div class="n-main">
			<div class="n-tittle">
				<a href="/">慕司</a>
			</div>
			<div class="n-nav">
				<button type="button" class="btn btn-default" aria-label="Justify" style="background-color: #000;border-color: #000;" data-toggle="collapse" data-parent="#accordion" href="#m-nav">
					<span class="glyphicon glyphicon-align-justify" aria-hidden="true" style="color: #fff;"></span>
				</button>
			</div>
			<div id="m-nav" class="panel-collapse collapse">
				<ul>
					<li>
						<a href="/archive"><i class="fa fa-archive"></i>Archive</a>
					</li>
					<li>
						<a href="/wiki"><i class="fa fa-tasks"></i>WiKi</a>
					</li>
					<li>
						<a href="https://github.com/musistudio"><i class="fa fa-github fa-lg"></i>Github</a>
					</li>
					<li>
						<a href="/subscribe"><i class="fa fa-rss"></i>Subscribe</a>
					</li>
					<li>
						<a href="/about"><i class="fa fa-user"></i>About</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="main">
		<div class="m-header">
			{{ artical['ar_tittle'] }}
		</div>
		<div class="m-container" id="m-container">
			<div class="m-left">
				<div class="artical">
					{{ artical['ar_content'] }}
				</div>

				<div class="page">
					<center>
						<ul>
							<li><a href="#" id="prev">Prev</a></li>
							<li><a href="/">Home</a></li>
							<li><a href="#" id="next">Next</a></li>
						</ul>
					</center>
				</div>
			</div>
			<div class="m-right">
				<div class="side">
					<div class="tags">
						<h4><i class="fa fa-clock-o"></i>date</h4>
						<div class="tagcloud" id="date">{{ artical['ar_date'] }}</div>
					</div>
					<div class="tags">
						<h4><i class="fa fa-tags"></i>tags</h4>
						<div class="tagcloud" id="tags">{{ artical['ar_tags'] }}</div>
					</div>
				</div>
			</div>
		<div style="clear: both"></div>
		</div>
	</div>

	<div class="footer">
		Copyright &copy; 2018 All Rights Reserved Powered by 慕司
	</div>

	<script>
		if(_isFirst){
		    $("#prev").attr("href", "javascript:void(0);");
		    $("#prev").css("color", "#aaa");
		}else{
		    $("#prev").attr("href", "/"+(_id-1)+".html");
		}
		if(_isLast){
			$("#next").attr("href", "javascript:void(0);");
			$("#next").css("color", "#aaa");
		}else{
			$("#next").attr("href", "/"+(_id+1)+".html");
		}
	</script>

	<script>
		var m_top = $("#m-container").offset().top;
		var isHidden = false;
		$(window).scroll(function (){
			var NowTop = $(window).scrollTop();
			if(NowTop >= m_top){
				$("#nav").css({
					opacity: '0.2'
				});
				isHidden = true;
			}else{
				$("#nav").css({
					opacity: '1'
				});
				isHidden = false;
			}
		});
		$("#nav").hover(
		  function () {
		    $("#nav").css({opacity: '1'})
		  },
		  function () {
		  	if(isHidden){
		  		$("#nav").css({opacity: '0.2'})
		  	}
		  }
		);
	</script>

</body>
</html>