<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>慕司的个人博客</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="{{static_url('css/bootstrap.min.css')}}"/>
	<link rel="stylesheet" type="text/css" href="{{static_url('css/font-awesome.min.css')}}">
	<script src="{{static_url('js/jquery.js')}}"></script>
	<script src="{{static_url('js/bootstrap.min.js')}}"></script>
	<link rel="stylesheet" href="{{static_url('css/style.css')}}">
	<script src="{{static_url('js/d3.min.js')}}"></script>
	<script src="{{static_url('js/d3.layout.cloud.js')}}"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
</head>
<body>


	<div class="nav" id="nav">
		<div class="n-main">
			<div class="n-tittle">
				<a href="/">慕司</a>
			</div>
			<div class="n-nav">
				<button type="button" class="btn btn-default" aria-label="Justify" style="background-color: #000;border-color: #000;" data-toggle="collapse" data-parent="#accordion" href="#m-nav">
					<span class="glyphicon glyphicon-align-justify" aria-hidden="true" style="color: #fff;"></span>
				</button>
			</div>
			<div id="m-nav" class="panel-collapse collapse">
				<ul>
					<li>
						<a href="/archive"><i class="fa fa-archive"></i>Archive</a>
					</li>
					<li>
						<a href="/wiki"><i class="fa fa-tasks"></i>WiKi</a>
					</li>
					<li>
						<a href="https://github.com/musistudio"><i class="fa fa-github fa-lg"></i>Github</a>
					</li>
					<li>
						<a href="/subscribe"><i class="fa fa-rss"></i>Subscribe</a>
					</li>
					<li>
						<a href="/about"><i class="fa fa-user"></i>About</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="main">
		<div class="m-header">
			{{ wiki['nt_tittle'] }}
		</div>
		<div class="m-container" id="m-container">
			<div class="m-left">
				<div class="artical">
					{{ wiki['nt_content'] }}
				</div>
			</div>
		<div style="clear: both"></div>
		</div>
	</div>

	<div class="footer">
		Copyright &copy; 2018 All Rights Reserved Powered by 慕司
	</div>

	<script>
		var m_top = $("#m-container").offset().top;
		var isHidden = false;
		$(window).scroll(function (){
			var NowTop = $(window).scrollTop();
			if(NowTop >= m_top){
				$("#nav").css({
					opacity: '0.2'
				});
				isHidden = true;
			}else{
				$("#nav").css({
					opacity: '1'
				});
				isHidden = false;
			}
		});
		$("#nav").hover(
		  function () {
		    $("#nav").css({opacity: '1'})
		  },
		  function () {
		  	if(isHidden){
		  		$("#nav").css({opacity: '0.2'})
		  	}
		  }
		);
	</script>

</body>
</html>