<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>课程列表</title>
	<style type="text/css">
		h2{
			text-align: center;
		}
		ul{
			width: 1440px;
			margin: 0 auto;
			margin-top: 30px;
		}
		li{
			list-style: none;
			width: 200px;
			margin-bottom: 20px;
			float: left;
			margin-right: 40px;
		}
		li img{
			width: 200px;
			height: 100px;
		}
		li div{
			text-align: center;
		}
	</style>
</head>
<body>
	<div class="container">
		<h2>请选择课程</h2>
		<ul>
			{% for classs in classes %}
			<li>
				<a href="/yclass/classpass/{{ classs['id'] }}">
					<img src="{{ classs['cover'] }}">
					<div>{{ classs['title'] }}</div>
				</a>
			</li>
			{% end %}
		</ul>
	</div>
</body>
</html>