<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>课程列表</title>
	<style type="text/css">
		li{
			list-style: none;
			width: 200px;
			margin-bottom: 20px;
		}
		li img{
			width: 200px;
			height: 100px;
		}
		li div{
			text-align: center;
		}
	</style>
</head>
<body>
	<div class="container">
		<ul>
			<li>
				<img src="http://image.moocollege.com/v2_customer/jZ-GXGy6C7qA6xDTIwuSy1EtENhZFDAZMSnchUYk3NHpAHybk0L9ChwtAZ4xYmXJ_1503113063784">
				<div>c#程序设计</div>
			</li>
			<li>
				<img src="http://image.moocollege.com/v2_customer/jZ-GXGy6C7qA6xDTIwuSy1EtENhZFDAZMSnchUYk3NHpAHybk0L9ChwtAZ4xYmXJ_1503113063784">
				<div>c#程序设计</div>
			</li>
			<li>
				<img src="http://image.moocollege.com/v2_customer/jZ-GXGy6C7qA6xDTIwuSy1EtENhZFDAZMSnchUYk3NHpAHybk0L9ChwtAZ4xYmXJ_1503113063784">
				<div>c#程序设计</div>
			</li>
			<li>
				<img src="http://image.moocollege.com/v2_customer/jZ-GXGy6C7qA6xDTIwuSy1EtENhZFDAZMSnchUYk3NHpAHybk0L9ChwtAZ4xYmXJ_1503113063784">
				<div>c#程序设计</div>
			</li>
		</ul>
	</div>

	<script type="text/javascript">
		
	</script>
</body>
</html>