 {% autoescape None %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>慕司的个人博客</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="{{static_url('css/bootstrap.min.css')}}"/>
	<script src="{{static_url('js/jquery.js')}}"></script>
	<script src="{{static_url('js/bootstrap.min.js')}}"></script>
	<link rel="stylesheet" href="{{static_url('css/style.css')}}">
	<script src="{{static_url('js/d3.min.js')}}"></script>
	<script src="{{static_url('js/d3.layout.cloud.js')}}"></script>
	<style type="text/css">
		.m-container{
			padding-bottom: 40px;
		}
		.main-header{
			font-size: 20px;
		}
		.m-main{
			width: 95%;
			margin: 0 auto;
		}
		.m-main ul li{
			list-style: none;
		}
		.m-main ul li .tittle{
			background-color: #eee;
			font-weight: 700;
			font-size: 16px;
			padding: 8px 15px;
			border-bottom: 1.5px solid #aaa;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			margin-top: 6px;
		}
		.m-main ul li .content{
			background-color: #f5f5d5;
			padding: 9px 15px;
		}
		
	</style>
</head>
<body>
	<div class="nav" id="nav">
		<div class="n-main">
			<div class="n-tittle">
				<a href="http://www.musiiot.top">慕司</a>
			</div>
			<div class="n-nav">
				<button type="button" class="btn btn-default" aria-label="Justify" style="background-color: #000;border-color: #000;" data-toggle="collapse" data-parent="#accordion" href="#m-nav">
					<span class="glyphicon glyphicon-align-justify" aria-hidden="true" style="color: #fff;"></span>
				</button>
			</div>
			<div id="m-nav" class="panel-collapse collapse">
				<ul>
					<li>
						<a href="/archive">Archive</a>
					</li>
					<li>
						<a href="/wiki">Wiki</a>
					</li>
					<li>
						<a href="https://github.com/musistudio">Github</a>
					</li>
					<li>
						<a href="/subscribe">Subscribe</a>
					</li>
					<li>
						<a href="/about">About</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="main">
		<div class="m-header">
			WiKi
		</div>
		<div class="m-container" id="m-container">
			<div class="m-main">
				<ul>
					<li>
						<div class="tittle">
							<a class="accordion-toggle" data-toggle="collapse" href="#about">
								<i class="fa fa-bookmark"></i> Info
							</a>
						</div>
						<div class="content collapse in" id="about">
							<p>这是我现在维护的个人笔记库。</p>
							<p>和博客不同，它们大多都不是直接来源于我的原创，而是我一边阅读一边整理加工而成的笔记列表。</p>
							<p>我的目的是将零散的知识点放在一个集中的地方，不断递归重构，形成一套为我所用的知识系统</p>
						</div>
					</li>
					<li>
						<div class="tittle">Info</div>
						<div class="content">
							<p>这是我现在维护的个人笔记库。</p>
							<p>和博客不同，它们大多都不是直接来源于我的原创，而是我一边阅读一边整理加工而成的笔记列表。</p>
							<p>我的目的是将零散的知识点放在一个集中的地方，不断递归重构，形成一套为我所用的知识系统</p>
						</div>
					</li>
					<li>
						<div class="tittle">Info</div>
						<div class="content">
							<p>这是我现在维护的个人笔记库。</p>
							<p>和博客不同，它们大多都不是直接来源于我的原创，而是我一边阅读一边整理加工而成的笔记列表。</p>
							<p>我的目的是将零散的知识点放在一个集中的地方，不断递归重构，形成一套为我所用的知识系统</p>
						</div>
					</li>
				</ul>

			</div>
		<div style="clear: both"></div>
		</div>
	</div>

	<div class="footer">
		Copyright &copy; 2018 All Rights Reserved Powered by 慕司
	</div>



	<script>
		var m_top = $("#m-container").offset().top;
		var isHidden = false;
		$(window).scroll(function (){
			var NowTop = $(window).scrollTop();
			if(NowTop >= m_top){
				$("#nav").css({
					opacity: '0.2'
				});
				isHidden = true;
			}else{
				$("#nav").css({
					opacity: '1'
				});
				isHidden = false;
			}
		});
		$("#nav").hover(
		  function () {
		    $("#nav").css({opacity: '1'})
		  },
		  function () {
		  	if(isHidden){
		  		$("#nav").css({opacity: '0.2'})
		  	}
		  }
		);
	</script>
	
</body>
</html>